################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitUnitTestDemo/bin/Debug
/TestProject1/obj
/.vs/GitUnitTestDemo
/TestProject1/bin/Debug/net6.0
/GitUnitTestDemo/obj/Debug
